$bg-color: #F2F2F2;
$bg-block: #ffffff;
$btn-accent: #2F80ED;
$btn-bg: #C4C4C4;

$title-color: #4f4f4f;
$subtitle-color: #333333;
$descr-color: #828282;

$brad: 12px;

$ffmain: Montserrat;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 850px;
$breakpoint_sm: 576px;